@import url('https://fonts.googleapis.com/css2?family=Jost:wght@300;400;600;800&display=swap');

*{
  box-sizing: border-box;
  font-family: 'Jost', sans-serif;
  color: #fff;
}

body {
  margin: 0;
  background-color: #0d1117;
}

.pagecontainer {
margin-left: 100px;
}

.home-image {
  width: 80vw;
  height: auto;
}

.spinner {
  text-align: center;
  margin: 15px;
}

.card {
  background-color: #16203b65;
  border-radius: 10px;
  padding: 15px 25px;
  width: 100%;
}

button {
  background: transparent;
  border: 0;
  padding: 0;
  cursor: pointer;
}

:is(.sidebar, .burger, .logo) {
  position: fixed;
}

.sidebar {
  z-index: 1;
  top: 0;
  left: 0;
  width: 72px;
  height: 100%;
  background: #162030;  
  transition: 0.4s;
}

@media (width < 500px) {
  .sidebar {
    translate: -100% 0;
  }

  .open .sidebar {
    translate: 0 0;
  }
}

.sidebar-header {
  display: grid;
  place-items: center;
  height: 72px;
  background: rgba(0, 0, 0, 0.1);
}

.logo {
  z-index: 2;
  top: 18px;
  left: 52px;
  width: 38px;
  scale: 0.8;
  transition: 0.4s;
}

@media (width <= 500px) {
  .open > .logo {
    translate: 28px;
  }
}

@media (width >= 500px) {
  .logo {
    left: 15px;
    width: 42px;
  }
}

.burger {
  z-index: 2;
  top: 0;
  left: 0;
  display: grid;
  place-items: center;
  width: 72px;
  height: 72px;
  background: url(../src/assets/icon-burger.png) no-repeat center;
}

.open .burger {
  background: url(../src/assets/icon-close.png) no-repeat center;
}

@media (width >= 500px) {
  .burger {
    display: none;
  }
}

.sidebar > nav {
  display: grid;
}

.sidebar > nav:not(:last-child) {
  padding-bottom: 1rem;
  border-bottom: 1px solid #1e3660;
  margin-bottom: 1rem;
}

.sidebar > nav > button {
  position: relative;
  display: grid;
  place-items: center;
  width: 100%;
  height: 60px;
  padding: 0;
}

@media (width >= 500px) {
  .sidebar > nav > button:hover > span {
    opacity: 1;
    visibility: visible;
  }
}

.sidebar > nav > button > img {
  width: 24px;
  height: 24px;
}

.sidebar > nav > button > span {
  position: absolute;
  top: 50%;
  left: 120%;
  translate: 0 -50%;
  padding: 10px;
  border-radius: 4px;
  color: #f9f9f9;
  background: #1e3660e0;
  opacity: 0;
  visibility: hidden;
  font-family: "jost", sans-serif;
  font-size: 12px;
  font-weight: 500;
  letter-spacing: 2px;
  line-height: 1;
  transition: 0.4s;
}
