@import url('https://fonts.googleapis.com/css2?family=Jost:wght@300;400;600;800&display=swap');

*{
  box-sizing: border-box;
  font-family: 'Jost', sans-serif;
  color: #fff;
}

body {
  margin: 0;
  background-color: #0d1117;
}

.pagecontainer {
margin-left: 100px;
}

.spinner {
  text-align: center;
  margin: 15px;
}

/* .navigator {
  display: flex;
  justify-content: space-evenly;
  background-color: #162030e3;
  text-decoration: none;
  list-style: none;
  height: 1vh;
  padding: 45px 0;
  z-index: 1001;
  width: 100%;
  margin-top: 0;
}

.hamburger {
  height: 45px;
  width: 45px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: fixed;
  z-index: 1002;
  cursor: pointer;
  left: 25px;
  top: 25px;
}

.slice {
  height: 40px;
  width: 40px;
  background-color: #000;
  border-radius: 50%;
  filter: drop-shadow(-2px 2px 2px #000);
} */

.card {
  background-color: #16203b65;
  border-radius: 10px;
  padding: 15px 25px;
  width: 100%;
}

button {
  background: transparent;
  border: 0;
  padding: 0;
  cursor: pointer;
}

.sidebar {
  position: absolute;
  overflow: hidden;
  top: 0;
  left: 0;
  width: 72px;
  height: 100%;
  background: #162030;
  transition: width 0.4s;
}

.open .sidebar {
  width: 260px;
  z-index: 1010;
}

.sidebar-inner {
  position: absolute;
  top: 0;
  left: 0;
  width: 300px;
}

.sidebar-header {
  display: flex;
  align-items: center;
  height: 72px;
  padding: 0 1.25rem 0 0;
  background: rgba(0, 0, 0, 0.1);
}

.sidebar-burger {
  width: 72px;
  height: 72px;
  display: grid;
  place-items: center;
  background: url(../src/assets/icon-burger.png) no-repeat center center;
}

.open .sidebar-burger {
  background: url(../src/assets/icon-close.png) no-repeat no-repeat center center;
}

.sidebar-logo {
  height: 20px;
}

.sidebar-menu {
  display: grid;
}

.sidebar-menu > button {
  display: flex;
  gap: 25px;
  align-items: center;
  height: 60px;
  font-size: 16px;
  font-weight: 200;
  letter-spacing: 2px;
  line-height: 1;
  padding: 0 25px;
}

.sidebar-menu > button.has-border {
  padding-bottom: 1rem;
  border-bottom: 1px solid rgba(255, 255, 255, 0.12);
  margin-bottom: 1rem;
}

.sidebar-menu > button > img {
  width: 24px;
  height: 24px;
}

.sidebar-menu > button > span {
  color: #f9f9f9;
}